.main__title {
  text-align: center;
  font-family: sans-serif;
}
.main__title::first-letter {
  text-transform: uppercase;
}
.search-fav__container{
  // display: flex;
  // flex-direction: row;
  display: grid;
  grid-template-columns: 250px, 1fr;
}
.show__item {
  border: 2px solid rgb(4, 4, 49);
  color: rgb(4, 4, 49);
  font-family: sans-serif;
  text-align: center;
  padding-top: 8px;
  border-radius: 5px;
  width: 170px;
}
.show__fav {
  background: rgb(4, 4, 49);
  color: lightskyblue;
}
.show__item_fav{
  display:flex;
  flex-direction: row;
  font-family: sans-serif;
  align-items: center;
}
.favs__results {
  padding: 0;
}
.favs__results .show__item-img {
  width: 80px;
  margin-right: 10px;
}
.favh2 {
  font-family: sans-serif;
  &::first-letter{
    text-transform: uppercase;
  }
}
.series__results {
  grid-column: 2/3;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.series__results .show__item-img {
  width: 150px;
}
.series__results .show__item-name {
  margin: 5px auto;
}
.favs {
  grid-column: 1/2;
}
