.hidden {
  display: none;
}
.main__title {
  text-transform: capitalize;
}
.search-fav__container{
  display: flex;
  flex-direction: row;
}
.show__item {
  background: rgb(240, 166, 178);
  color: fuchsia;
}
.show__fav {
  background: fuchsia;
  color: rgb(240, 166, 178);
}
.show__item_fav{
  display:flex;
  flex-direction: row;
}
.favs__results {
  padding: 0;
}
