<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Buscador de series</title>
    <link rel="icon" href="" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <h1 class="main__title">buscador de series</h1>
    <div class="search">
      <input type="text" name="serie" id="serie" value="" class="input" />
      <button type="button" class="btn">search</button>
    </div>
    <div class="search-fav__container">
      <div class="favs">
        <h2 class="favh2">mis series favoritas</h2>
        <ul class="favs__results"></ul>
      </div>
      <ul class="series__results"></ul>
    </div>
    <script src="assets/js/main.js"></script>
  </body>
</html>
